header {
  display: flex;
  background-color: var(--background-tertiary);
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
  margin-bottom: 22px;
}

.navegation-menu {
    margin-top: 28px;
}

nav {
  display: none;
}
